<div>
  <div id="indexintro">Here is a list of your active projects: </div>
  <br />
  <% @projects.each do |project| %>
    <div class="projectdiv">
      <div><%= project.name %></div>
    </div>
  <% end %>
</div>
