<div class="box col-10 offset-1">
  <h1>Please enter the details of your project in the below form:</h1>
  <%= simple_form_for @project do |f| %>
    <%= f.input :name, placeholder: 'Must be between 3 and 30 characters.' %>
    <%= f.input :description, as: :text, placeholder: 'Can be a maximum of 500 characters.' %>
    <%= f.submit 'Submit', class: 'btn submit' %>
  <% end %>
</div>