@import 'bootstrap';

body{
  background: image_url("seigaiha.png");
  font-family: 'ubuntulight', sans-serif;
  font-size: 18px;
}

#title {
  font-size: 24px;
}

#overlay{
  position: fixed;
  display: block;
  width: 80%;
  height: 80%;
  left: 10%;
  z-index: 2;
}

#indexintro{
  font-size: 1.5rem;
  font-weight: bold;
}

.clear{
  clear: both;
}

#indexintro{
  color: green;
  margin: 0 1%;
}

.projectdiv{
  position: relative;
  background-color: green;
  color: white;
  width: 18%;
  height: 13vh;
  float: left;
  margin: 1% 1%;
  display: inline-block;
  -webkit-box-shadow: 5px 5px 10px #B4F8B4;
  -moz-box-shadow: 5px 5px 10px #B4F8B4;
  box-shadow: 5px 5px 10px #B4F8B4;
  border: 2px solid #73f273;
}

.box{
  -webkit-box-shadow: 5px 5px 10px #B4F8B4;
  -moz-box-shadow: 5px 5px 10px #B4F8B4;
  box-shadow: 5px 5px 10px #B4F8B4;
  border: 2px solid #73f273;
}

.projectdiv div{
  position: absolute;
  padding: 1em
}

.navbar{
  background: green image_url("asfalt-light.png");
  filter: drop-shadow(5px 5px 10px #B4F8B4);
  font-size: 1em;
}

.nav-item{
  color: white;
}

.nav-item a {
  color: white;
}

.dropdown-menu {
  z-index: -1;
  background: green image_url("asfalt-light.png");
}

.dropdown-item a {
  color: white;
}

.dropdown-item:hover {
  background: green image_url("asfalt-light.png");
}




